@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

textarea,
input,
button,
body{
    font-size: .900rem;
    font-family: "Poppins", sans-serif;
}

body{
    color: white;
    background-color: #275545;
}

textarea,
input,
button{
    border: none;
    outline: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-weight: 495;
    color: whitesmoke;
}

img,
svg{
    height: auto;
    max-width: 100%;
}

.container{
    margin-inline: 1.3rem;
    max-width: 1150px;
}
.grid{
    gap: 1.5rem;
    display: grid;
    gap: 1.4rem;
}

.section_title,
.section_subheading{
    font-weight: 590;
    text-align: center;
    color:whitesmoke;
}

.section{
    padding-block: 4rem 2rem;
}
.section_subheading{
    margin-bottom: .20rem;
    font-size: 1.7rem;
}
.section_subheading span{
    color:#1e90ff;
}
.section_title{
    margin-bottom: 1.2rem;
    font-size: 2.1rem;
}

.main{
    overflow: hidden;
}
.header{
    background-color: #203E34;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 65px;
}
.nav_toogle,
.nav_close{
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
}
.nav_logo{
    font-weight: 520;
    color: whitesmoke;
}
.nav_logo span{
    color: aquamarine;

}

@media screen and (max-width: 1000px){
    .nav_menu{
        height: 100%;
        width: 75%;
        right: -100%;
        top: 0;
        position: fixed;
        background-color: hsla(0, 0%, 10%, .3);
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        transition: right .4s;
    }
}

.nav_list{
    row-gap: 3rem;
    display: flex;
    flex-direction: column;
}
.nav_close{
    right: 1.6rem;
    top: 1rem;
    position: absolute;
}
.nav_link{
    font-weight: 510;
    color: white;
    transition: color .4s;
}
.nav_link:hover{
    color: aquamarine;
}

.show-menu{
    right: 0;
}
.home_img{
    border-radius: 45%;
}
.home{
    background-color: #22493C;
}
.home_container{
    row-gap: 2.4rem;
    padding-top: 3rem;
}
.home_information{
    text-align: center;
}
.home_cont{
    row-gap: 2rem;
    display: grid;
}

.home_subheading,
.home_education{
    font-size: 2.2rem;
}
.home_subheading span,
.home_title{
    color: aquamarine;
}
.home_record{
    margin-block: 1rem 2rem;
}
.home_title{
    font-weight: 610;
    font-size: 2.2rem;
}
.home_social{
    column-gap: 1.30rem;
    justify-content: center;
    display: flex;
}
.home_social-link{
    background-color: aqua;
    color: white;
    font-size: 30px;
    padding: .8rem;
    display: flex;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}
.home_social-link:hover{
    transform: translateY(-.50rem);
}
.home_img{
    justify-self: center;
}
.button{
    display: inline-block;
    background-color: #1D486E;
    padding: 1rem 1.75rem;
    border-radius: .4rem;
    color: white;
    font-weight: 600;
    transition: box-shadow .4s;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(185, 209, 205 ),0 17px 50px 0 rgba(0,0,0,0.19);
}
.about_container{
    row-gap: 2.7rem;
}
.about_record{
    margin-bottom: 2.3rem;
}
.about_information{
    text-align: center;
}
.about_image{
    justify-self: center;
}

.skills{
background-color: #22493C;
}
.skills_container{
    padding-bottom: 2.5rem;
    row-gap: 3.8;
}
.skills_record{
    margin-bottom: 2.5rem;
}
.skills_information{
    text-align: center;
}
.skills_content{
    justify-content: center;
    column-gap: 4.5rem;
    grid-template-columns: repeat(2, max-content);
    align-items: baseline;
}

.skills_content,
.skills_group{
    display: grid;
}
.skills_group{
    list-style: decimal-leading-zero;
    row-gap: 1.3rem;
}
.skills_item{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.skills_item::marker{
    color: aqua;
}
.projects_container{
    justify-content: center;
    row-gap: 2rem;
    padding-block: 1.2rem;
}
.projects_img{
    height: 100%;
    width: 100%;
}
.projects_card{
    border-radius: 10px; 
    overflow: hidden;
    position: relative;
}

.projects_card_modal{
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -100%;
    background: linear-gradient(180deg, 
                hsla(0, 0%, 0%, 0) 0%,
                hsla(var(black), 70%, 40%, .8) 120%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    transition: bottom .4s;
}

.projects_subheading{
    margin-bottom: .20rem;
    display: block;
}

.projects_subheading,
.projects_button{
    font-size: large;
    color: #DD0000;
}
.projects_title{
    color: #B05000;
    text-align: center;
    margin-bottom: .80rem;
    font-size: 1.20rem;
}
.projects_button{
    align-items: center;
    display: flex;
    font-weight: 500;
    column-gap: .6rem;
}
.projects_button i{
    font-size: 1.30rem;
}
.projects_card:hover .projects_card_modal{
    bottom: 0;
}
.contact_container{
    padding-top: 1rem;
}

.contact {
    background-color: #22493C;
}
.contact_email{
    font-size: 35px;
    color: aqua;
    text-align:center;
}
.contact_email span{
    color: white;
    font-size: 20px;
}
.contact_city{
    font-size: 35px;
    color: aqua;
    text-align:center;
}
.contact_city span{
    color: white;
    font-size: 20px;
}
.footer{
    padding-block: 1.5rem 1rem;
}
.footer_container{
    text-align: center;
    row-gap: 2rem;
}
.footer_title{
    margin-bottom: .30rem;
    font-size: 2.20rem;
    font-weight: 620;
}
.footer_title span{
    color: #1e90ff;
}
.footer_education{
    font-size: 15px;
}
.footer_social{
    justify-content: center;
    display: flex;
    column-gap: 4rem;
}
.footer_social-link{
    background-color: aqua;
    color: white;
    font-size: 30px;
    padding: .6rem;
    display: flex;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}
.footer_social-link:hover{
    transform: translateY(-.50rem);
}
.footer_copy_right{
    margin-top: 40px;
    color: whitesmoke;
}
.scroll_up{
    background-color: #1D486E;
    color: whitesmoke;
    right: 1rem;
    bottom: -50%;
    position: fixed;
    display: inline-flex;
    border-radius: .30rem;
    padding: 7px;
    transition: bottom .4s, transform .4s;
    font-size: 1.25rem;
    box-shadow: 0 4px 12px hsla(225, 15%, 8%, .4);
    z-index: 10;
}
.scroll_up:hover{
    transform: translateY(-.50rem);
}
.show-scroll{
    bottom: 3rem;
}

.active-link{
    color:  aquamarine;
}

@media screen and (max-width: 320px){
    .skills_content{
        row-gap: 1rem;
        grid-template-columns: max-content;
    }
    .container{
        margin-inline: 1rem;
    }
}

@media screen and (min-width: 580px){
    .home_container,.about_container,.skills_container,.projects_container, .contact_container{
        justify-content: center;
        grid-template-columns: 400px;
    }
}

@media screen and (min-width: 768px){
    .nav_menu{
        width: 50%;
    }
    .home_container, .about_container, .skills_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .home_information, .about_information, :is(.about_information) :is(.section_subheading, .section_title){
        text-align: initial;
    }
    .projects_container{
        grid-template-columns: repeat(2, 370px);
    }

    .home_social{
        justify-content: initial;
    }

    .about_information{
        order: 1;
    }

}

@media screen and (min-width: 1001px){
    .section{
        padding-block: 6rem 4rem;
    }
    .skills_record{
        font-size: 20px;
    }
    .section_subheading{
        font-size: 30px;
    }
    .nav{
        height: calc(3rem + 1.5rem);
    }
    .nav_list{
        column-gap: 3rem;
        flex-direction: row;
    }

    .nav_close, .nav_toogle{
        display: none;
    }
    .nav_menu{
        width: initial;
    }
    .projects_container{
        grid-template-columns: repeat(2, 450px);
    }

}

@media screen and (min-width: 1152px){
    .container{
        margin-inline: auto;
    }

        .home_container{
            grid-template-columns: 450px, 550px;
            padding-block: 2rem 2.5rem;
            column-gap:  8rem;
        }
        .home_cont{
            row-gap: 4rem;
        }
        .home_social{
            column-gap: 2rem;
        }
        .home_record{
            font-size: 17px;
            margin-block: 1.5rem 3rem;
        }

        .about_container{
            column-gap: 5rem;
            grid-template-columns: 550px, 460px;
            padding-bottom: 1rem;
        }
        .skills_container{
            column-gap: 6rem;
            padding-bottom: 3rem;
            grid-template-columns: 400px 450px;
        }
        .skills_content{
            column-gap: 10rem;
        }
        .skills_record{
            margin-bottom: 4rem;
        }
        .skills_group{
            row-gap: 2rem;
        }
        .skills_item{
            font-size: 20px;
        }
        .projects_container{
            grid-template-columns: repeat(3, 365px);
            padding-block: 2rem 3rem;
            row-gap: 2.5rem;
        }

        .contact_container{
            grid-template-columns: 700px;
            grid-template-columns: repeat(3, 1fr);
            padding-block: 2rem 3rem;
            
        }
        .footer_container{
            grid-template-columns:repeat(2, 1fr);
            padding-left: 200px;
            padding-right: 90px;
            text-align: initial;
            align-items: center;
        }
        .scroll_up{
            right: 5rem;
            font-size: 30px;
        }
        .home_title{
            font-size: 50px;
        }
        .nav_logo{
            font-size: 20px;
        }
        .nav_link{
            font-size: 15px;
        }
        
    }
    .footer_copy{
        text-align: center;
        padding-top: 3.2rem;
    }


    
